{% include 'base.html' %}
{% block start %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resetPassword</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
</head>
<body>
    <header>
         <!-- hamburger menu code  -->
        <nav class="navbar">
                <div class="menu-toggle" onclick="toggleMenu()">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
                <ul class="menu">
                    <li class="nav_items">
                        <a href="{% url 'home_page' %}" class="nav_links" target="_blank">Home</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'about_us' %}" class="nav_links" target="_blank">About Us</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'contact_us' %}" class="nav_links" target="_blank">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <!-- navigation bar -->
            <div class="logo-container">
                <img src="{% static 'hand image.png' %}" alt="hand image" width="20px" ><h3>PalmSpeak</h3> 
            </div>
    </header>
    <!-- main body of webpage -->
    <section>
        <br><br>
        {% if messages %}
                
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
  
        {% endif %}
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="Reset">
                <h4>Reset Password</h4>
            </div>
            <br><br>
            <div class="resetPass">
                <label for="newPass">Set New Password:</label>
                <input type="password" placeholder="enter new password" name="newPass" id="newPass" class="input-field" autocomplete="off" required>
                <br><br>
                <label for="confirmpass">Confirm Password:</label>
                <input type="password" placeholder="confirm password" name="confirmpass" id="confirmpass" class="input-field" autocomplete="off" required>
                <!-- login button -->
                <button class="button">Set</button>
            </div>
        </form>
        <img src="{% static 'Picture1.png' %}" alt="logo of PalmSpeak" class="logo">
    </section>
    <script src="{% static 'reset.js' %}"> </script>
</body>
</html>
{% endblock %}